DailyKoan.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DailyKoan.xcodeproj/project.xcworkspace/xcuserdata/alvarsirlin.xcuserdatad/WorkspaceSettings.xcsettings
Screens/Screen L Daily Koan.psd
Screens/Screen P Daily Koan.psd
Screens/Screen P Daily Koan.webp
Screens/Screen-L-Daily-Koan-1242-2688.png
Screens/Screen-L-Daily-Koan.png
Screens/Screen-P-Daily-Koan-2064-2752.png
Screens/Screen-P-Daily-Koan-2688-1242.png
Screens/Screen-P-Daily-Koan-2752-2064.png
